{% extends "accounts/base.html" %}
{% block content %}
<div class="events-container">
  <h1 class="page-title">All College Events</h1>
  <p class="subtitle"><strong>Explore Tech Fests, Cultural Shows, Workshops, Seminars & More</strong></p><br><br>

  <div class="events-grid">
    {% for e in events %}
      <div class="event-card">
       <div class="event-image">   
      {% if e.image_url %}
      <img src="{{ e.image_url }}" alt="{{ e.title }}">
      {% else %}
      <img src="https://via.placeholder.com/400x200.png?text=Event+Image" alt="{{ e.title }}">
      {% endif %}
       </div>
        <div class="event-details">
          <h4>{{e.event_id}}</h4>
          <h3>{{ e.title }}</h3>
          <p class="college">{{ e.college_name }}</p>
          <p class="datetime">{{ e.date_time|date:"M d, Y, g:i A" }}</p>
          <p class="location">{{ e.location }}</p>
          <span class="tag">{{ e.tag }}</span>
          <p class="description">{{ e.description }}</p>

          <div class="actions">
            {% if e.event_id %}
             <a href="{% url 'registrations:register_event' e.event_id %}" class="btn btn-register">Register</a>
                {% else %}
              <button class="btn-register" disabled title="Registration coming soon">Register</button>

            {% endif %}
            <a href="{% url 'events:event_detail' e.event_id %}" class="btn-details">Details</a>
            <a class="btn-secondary" href="{% url 'ugc:event_hub' e.event_id %}">Share & Review </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}